.custom-list-row-column {
	gap: 8px;
	align-items: center;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.0025em;

	&__link {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 130%;
		letter-spacing: 0.0025em;
		color: #4588e5;
	}
}
