@import url('./reset.scss');
@import url('./App/components/ButtonPanel/buttonPanel.scss');
@import url('./App//components/Table/table.scss');
@import url('./App/components/CustomSelect/customSelect.scss');
@import url('./App/components/CustomSelectRow/customSelectRow.scss');

:root {
    --medpult-bg-color: #F2F4F6;
    --medpult-panel-color: white;
    --medpult-hover-color: #F8F8F8;
    --medpult-field-border-color: #D9D9D9;
    --medpult-blue-active-color: #64C3F4;
    --medpult-blue-link-color: #5295FA;
}

// Панель фильтрации
.filter-panel {
	margin-bottom: 15px;
	&__list {
		list-style-type: none;
	}
}

// Сброс стандартных стилей фильтров
.filter-panel__item--rp .button-add-element {
	display: none !important;
}

.filter-panel__item--team .button-add-element {
	display: none !important;
}
